.git
.gitignore
.github
.vscode
.idea

vendor
node_modules

.env
.env.*
!.env.example

storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
bootstrap/cache/*.php

database/database.sqlite
*.sqlite
*.sqlite-journal

tests
phpunit.xml

README.md
DEPLOY_RENDER.md
LICENSE

Dockerfile
.dockerignore
docker-entrypoint.sh
render.yaml
render-build.sh
